<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="{{ '/contact.html' | relative_url }}">Kontakt</a></li>
          <li><a href="{{ '/imprint.html' | relative_url }}">Impressum</a></li>
          <li><a href="{{ '/privacy.html' | relative_url }}">Datenschutzerklärung</a></li>
          <! --  {%- if site.rss -%}<li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>{{ site.rss | escape }}</span></a></li>{%- endif -%} -->
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <img src="{{ '/assets/danger.gif' | relative_url }}">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
