table {
  border: none;
}

table td, table th {
  border: none;
  padding: 15px 0;
  vertical-align: top;
}

table tr:nth-child(even) {
  background-color: $background-color;
}

.site-header {
  background: border-box linear-gradient($grey-color-dark, $grey-color-light);
}

header .wrapper {
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position-y: 5px;
  background-position-x: 5px;
  height: 60px;
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

header a.page-link {
  white-space: nowrap;
}

.page-content {
  background-image: url("clouds.png");
}

.page-title-image, .post-title-image {
  float: right;
  padding: 20px;
}

.page-title-image img, .post-title-image img {
  border-radius: 3px;
}

.site-footer {
  background: border-box linear-gradient($grey-color-light, $grey-color-dark);
}

.footer-col-wrapper {
  @include relative-font-size(0.8);
}

.footer-col-3 img {
  float: right;
}
