table {
  border: none;
}

table td, table th {
  border: none;
  padding: 15px 0;
  vertical-align: top;
}

table tr:nth-child(even) {
  background-color: $background-color;
}

header a.page-link {
  white-space: nowrap;
}

.footer-col-wrapper {
  @include relative-font-size(0.8);
}

.footer-col-3 img {
  float: right;
}
