table {
  border: none;
}

table td, table th {
  border: none;
  padding: 15px 0;
  vertical-align: top;
}

table tr:nth-child(even) {
  background-color: transparent;
}

.site-header {
  background: border-box linear-gradient($grey-color-dark, $grey-color-light);
}

header .wrapper {
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position-y: 5px;
  background-position-x: 5px;
  height: 60px;
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;

  .site-title {
    font-weight: 600;
    line-height: $base-line-height * $base-font-size;

    a, a:visited {
      display: block;
      color: darken($grey-color-dark, 7%);
    }

    .site-motto {
      font-weight: 400;
      @include relative-font-size(1.1);
    }
  }
}

header a.page-link {
  white-space: nowrap;
}

.page-content {
  background-image: url("clouds.png");

  h2 {
    margin-top: 30px;
  }
}

.page-title-image, .post-title-image {
  float: right;
  padding: 20px;
}

.page-title-image img, .post-title-image img {
  border-radius: 3px;
}

.responsive-image.caption {
  margin-top: -15px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, .45);
  text-align: center;

  h4 {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
  }

  p {
    font-size: 12px;
  }
}

.site-footer {
  background: border-box linear-gradient($grey-color-light, $grey-color-dark);
}

.footer-col-wrapper {
  @include relative-font-size(0.8);
}

.footer-col-3 img {
  float: right;
}
